header {
    font-size: 1em;
    width: 100%;
    height: auto;
}

#mobileMenuBar {
    display: none;
}

#logo {
    float: left;
    padding-top: 1.5em;
    padding-left: 3.5em;
}

#logo a{
    color: #2e3131;
    font-size: 1.75em;
    font-weight: bold;
}

#menu {
    height: auto;
    width: 100%;
    background-color: white;
}

#menu nav{
    position: relative;
    top: 3.4em;
    right: 3em;
    float: right;
    
}

#menu ul,
#menu li,
#menu a {
    list-style: none;
    text-decoration: none;
}

#menu ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu li{
    float: left;
    margin: 0;
    padding: 0;
}

#menu li a{
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    color: #2e3131;

}

#menu ul li ul {
    left: 0.75em;
    text-align: left;
    background-color: rgba(264,264,264, 0.75);
}

#menu li ul{
    position: absolute;
    z-index: 10;
}

#menu li ul li{
    float: none;
}

.rsxSoc ul{
    position: relative !important;
    left: 0 !important;
    text-align: center !important;
    display: inline-block !important;
    background-color: rgba(264,264,264,0) !important;
}

.rsxSoc ul li{
    float: left !important;
}

.rsxSoc ul li a{
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.menu-level1 a {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.menu-level2 a {
    font-size: 1.3em;
    padding-left: 1em;
    line-height: 1.2em;
}

.icon {
    padding-top: 0.2em;
}

#menu a:hover {
    color: #6c7a89;
}

#mobileMenuBarA:hover, #mobileMenuBarBtn:hover{
    color: darkslategray;
}

@media screen and (max-width: 800px) {
    header {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        height: auto;
        width: 100%;
        font-size: 18px;
    }

    #mobileMenuBar {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        background-color: white;
        padding: 0.2em;
        z-index: 10;
    }

    #mobileMenuBar a{
        padding-left: 0.2em;
        text-decoration: none;
        color: #2e3131;
        font-weight: 600;
    }
    #mobileMenuBarBtn {
        width: auto;
        height: 1em;
        float: right;
        display: block;
        position: relative;
        padding-right: 0.2em;
        padding-left: 0.25em;
        background-color: white;
        color: #2e3131;
    }


    #menu {
        position: absolute;
        top: 1.6em;
        background-color: rgba(264,264,264,0.5);
        margin: 0;
        padding: 0;
        z-index: 10;
    }

    #menu nav{
        top: 0;
        right: 0;
        float: none;
    }
    #menu ul { 
        padding: 0;
        margin: 0;
        width: auto;
    }
    
    
    #menu li{
        float: none;
    }
    
    #menu li ul{
        position: relative;
    }
    
    #menu ul li ul{
        display: block;
        text-align: center;
        left: 0;
    }
    
    #menu li a {
        text-align: center;
        font-size: 1em;
        color: #2e3131;
        padding-right: 0;
        padding-left: 0;
        float: none;
    }

    #logo {
        display: none;
    }

    .menu-level1 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        font-size: 0.85em;
        line-height: 1.5em;
        text-align: center;
    }

    .menu-level2 {
        text-transform: none;
        
    }

    #menu li a:hover {
        transition: all 0.3s ease;
        color: #6c7a89;
    }
}